body{
    margin: 0%;
    padding: 0%;
    font-family: 'Oswald', sans-serif;
}
ul{
  list-style: none;
}
.list{
    text-decoration: none;
    float: left;
}
#main{
    width: 50%;
    height: 100px;  
}
nav{
    position: fixed;
    width: 100%;
    background-color:gainsboro;
}

nav ul li a{
    height: 40px;
    line-height: 43px;
    margin: 28px;
    padding: 0px 10px;
    float: left;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(245, 246, 247);
    background-image: linear-gradient(180deg,black,black,whitesmoke);
   
}
.menu{
    margin-left: 50%;
}


/*top-part*/
section{
    height: 500px;
    padding-bottom: 50px;
}
h1{
    font-size: 50px;
    line-height: 20px;
}
.multitext-highlight{
    color:darkslateblue;
}
#name-highlight{
    color: #40E0D0;
}
.half-width{
    width: 40%;
    margin-left: 10%;
    float: left;  
}
#img1{
    width: 80%;
    height: 50%;  
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(180deg,rgb(42, 153, 190),rgb(0, 174, 255),rgb(200,200,200));
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

/*About Part*/
#about-2nd-part{
    margin-top: 10%;
}
#img2{
    width: 100%;
    height: 500px;
}
#about-highlight{
    color: lightseagreen;
}
#latest-highlight{
    color: lightseagreen;
}

/*skill part*/
.skills-part{
    background-color: whitesmoke;
    height: 700px;
    padding-bottom: 100px;
    text-align: center;
}
.skills-content img{
    width: 50%;
    height: 150px;
}
.skills-content{
    width: 15%;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    float: left;
    box-shadow: 10px 10px 30px lightgreen;
    border-radius: 10px;
    background-color:white;
}

#heading-skills{
    
    margin-top: 10%;
    padding-top: 100px;
    color: darkslateblue;
}

.skills h3{

    color: darkslateblue;
}

/*Project Part*/
#Project-part{
    background-color: whitesmoke;
    height: 600px;
    padding-bottom: 100px;
}
#project-header{
    text-align: center;
    margin-top: 10%;
    padding-top: 100px;
}
.project-content img{
    width: 100%; 
    
}
.project-content{
    width: 25%;
    height: 70%;
    margin-left: 5%;
    margin-top: 5%;
    float: left;
    box-shadow: 10px 20px 30px lightgreen;
    border-radius: 5px;
    background-color:white;
}

/*Work Inquiry*/
#inquiry-part{

    background-image: url("images/Group_33094_1.png");
    background-size: 100%,100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    margin-left: 10%;
    margin-right: 10%;
    
}
.working-inquiry{
    float: left;
    color: white;
    margin-top: 20%;
    margin-left: 15%;
}
.button-inquiry{
    float:right;
    margin-top: 24%;
    margin-right: 15%;
}
    
/*Footer*/
footer{
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}
.footer-img{
    width: 2%;
    height: 2%;
}
