body{
    margin: 0%;
    padding: 0%;
    font-family: 'Oswald', sans-serif;
}
ul{
  list-style: none;
}
.list{
    text-decoration: none;
    float: left;
}
#main{
    width: 50%;
    height: 100px;  
}
nav{
    
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color:whitesmoke;
}

nav ul li a{
    height: 40px;
    line-height: 43px;
    margin: 28px;
    padding: 0px 10px;
    display: flex;
     font-size: 0.8rem;
     text-transform: uppercase;
     font-weight: 500;
     color: rgb(20, 199, 231);
     letter-spacing: 1px;
}
.menu{
    margin-left: 40%;
}


/*top-part*/
section{
    height: 500px;
    padding-bottom: 50px;
}
h1{
    font-size: 50px;
    line-height: 20px;
}
.multitext-highlight{
    color:darkslateblue;
}
#name-highlight{
    color: #40E0D0;
}
.half-width{
    width: 40%;
    margin-left: 10%;
    float: left;  
}
#img1{
    width: 80%;
    height: 50%;
    
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(180deg,rgb(42, 153, 190),rgb(0, 174, 255),rgb(200,200,200));
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
#img2{
    width: 100%;
}
#about-highlight{
    color: lightseagreen;
}
#latest-highlight{
    color: lightseagreen;
}


/*Project Part*/
#Project-part{
    background-color: whitesmoke;
    height: 600px;
    padding-bottom: 100px;
}
#project-header{
    text-align: center;
    margin-top: 10%;
    padding-top: 100px;
}
.project-content img{
    width: 100%; 
    
}
.project-content{
    width: 25%;
    height: 70%;
    margin-left: 5%;
    margin-top: 5%;
    float: left;
    border-radius: 10px;
    background-color:white;
}

/*Work Inquiry*/
#inquiry-part{

    background-image: url("images/Group_33094_1.png");
    margin-top: 10%;
    margin-bottom: 5px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 20px;
    height: 200px;
}
.inquiry-content, h2{
    color: white;
    
}
.inquiry-content{
    width: 40%;
    float: left;
    height: 200px;
    margin-left: 10%;
    margin-top: 5%;
} 
#inquiry-button{
    margin-top: 10%;
}
    
    
/*Footer*/
footer{
    text-align: center;
    width: 100%;
}
